// colors 

// link

a {
    text-decoration: none;
}

// buttons

button {
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 100;
    color: #fff;
    transition: 0.25s;
    background: transparent;

    
}

// inputs

input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.25);
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    font-family: 'Roboto';
    padding: 10px;
    transition: 0.25s;

    &:focus {
        border-color: rgba(255, 255, 255, 1);
    }
}

// labels

label {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 300;
}

// priority

.low{
    background-color: #efff00;
}

.medium {
    background-color: #ff701d;
}

.hight {
    background-color: #6eff00;
}

// field upload to component

.upload-field {
    position: relative;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;

    &:hover &__span{
        outline: 1px dashed #854f4f;
        background-color: #854f4f;
    }
    
    &__label {
        cursor: pointer;
        display: flex;
        margin: 0;
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__span {
        top: 0px;
        position: absolute;
        padding-top: 200px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0.15);
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        outline: 1px dashed transparent;
        transition: outline 1s, background-color 0.5s;
        text-transform: lowercase;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 5px;
        
        &--active{
            outline: 0;
        }

        &--empty {
            background-color: #fff;
            width: 100%;
            height: 100%;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 9;
        opacity: 0;
        transition: opacity 0.25s;

        &--active{
            opacity: 1;
        }
    }

    &__input {
        display: flex;
        z-index: 99999;
        font-size: 24px;
        font-weight: 300;
        font-family: 'Roboto';
        width: 50%;
        background-color: rgb(0 0 0 / 35%);

        &--error {
            border-color: #ff8585!important;
        }
    }

}