@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-size: 50px;
  font-weight: 300;
}

h3{
  font-size: 21px;
  font-weight: 300;
}

button{
  
}

button:focus{
  outline: none;
}

fieldset {
  padding: 0;
  border: none;
}

.App {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
